.header {
  font: "Proxima Nova", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 30px;
  border: 1px #DDDDDD solid;
}



.bk-card {
  background: #fff;
  border-radius: 2px;
  box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
  /* min-height: 200px;
  max-height: 200px; */
}

.bookmark-link:hover {
  opacity: 0.4;
 }

.bookmark-container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bk_bg{
  background: lavender;
}
.bookmark-link {
  text-align: center
}

.bookmark-button {
  text-align: center
}

.bookmark-date {
  text-align: center
}

.null-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.null-bookmark {
  font-size: 30px;
  margin: 5%;
  display: table-cell;
  text-align: center;
}

.null-image {
  display: table-cell;
  vertical-align: middle;
}

.card-media {
  width: 100%;
}

.bk-card-details {
  padding: 5px 15px;
}

.bk-card-head {
  font-weight: 20;
  text-align: center;
  font-size: 26px;
  margin-bottom: 15px;
}

.bookmark-card-read-button{
  text-decoration: none;
  color: black;
}
.bk-card-action-button {
  border-radius: 2px;
  color: #FFAB40;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}
.bk-btn-group{
  display: flex;
  justify-content: space-around;
}
.bk-card-action-button:hover {
  color: salmon;
}
