.comment-invisible{
  text-align: center;
  padding: 2%;
  visibility: hidden;
}
.comment-title{
  margin: 0 auto;
  width: 80%;
  display: flex;
}
.comment-title a{
  text-align: center;
  color: gray;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 5%;
  margin-bottom: 3%;
  box-sizing: border-box;
  text-decoration: none;
}
.comment-title a:hover{
  color: darkolivegreen;
}

.comment-component{
  padding-bottom: 5%;
}