.header {
  font: "Proxima Nova", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 30px;
  border: 1px #DDDDDD solid;
}
.null-connection{
  font-size: 30px;
  margin: 5%;
  display: table-cell;
  text-align: center;
}

.null-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.null-image {
  display: table-cell;
  vertical-align: middle;
}

.connection-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
}

.card-media {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-details {
  padding: 5px 15px;
}

.card-head {
  font-weight: 200;
  text-align: center;
}

.card-head {
  font-size: 26px;
  margin-bottom: 15px;
}

.card-body {
  font-size: 12px;
  font-weight: 150;
  text-align: center;
}

.card-action-button{
  text-decoration: none;
  color: black;
}

